@charset "UTF-8";

* {
  /* Reset geral de algumas config que vem por padrão do CSS para laguns marcadores do HTML */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(20, 20, 20);
  /* Overflow vai fazer com que as barras de scroll sejam escondidas */
  overflow: hidden;
}

div {
  /* Margin:auto;  Está centralizando a "div" */
  margin: auto;
  margin-top: 1.25rem;
  margin-bottom: 2%;
  text-align: center;
  /* Atenção = para centralizar a "div" é preciso delimitar um tamanho horizontal para ela */
  width: 70%;
}

#container {
  /* tem que usar ["solid" + Cor] para funcionar a impressão da borda*/
  border: 2px solid beige;
}

h1 {
  font-size: 3.125rem;
  color: beige;
}

canvas {
  /* pelo que entendi, a medida "vh" é referente à altura visível da tela (viewport height) */
  height: 100%;
  width: 100%;
}
