@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(223, 240, 255);
}

h1 {
  margin: auto;
  width: 30%;
  margin-top: 10%;
  margin-bottom: 10px;

  text-align: center;
  color: rgb(0, 0, 92);
}

div {
  margin: auto;
  width: 30%;
  text-align: center;
  border-style: solid;
  border-color: black;
}

img {
  display: inline-block;
  margin: 15px;
  width: 270px;
  height: 246px;
  border-radius: 50%;
}

.barInsert {
  /* border: none; */
  border-color: rgba(118, 118, 255, 0.096);
  width: 15%;
}

.bar {
  border-color: rgb(118, 118, 255);
  width: 50px;
}

.container {
  border-radius: 20px;
  border-top-left-radius: 0;
  display: block;
  width: 60%;
  /* height: 500px; */
  margin: auto;
  margin-top: 30px;
  background-color: rgb(223, 188, 255);
  /* background-color: rgb(215, 246, 250); */
  border-width: 0;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.342);
}

h2 {
  margin: 5px;
}

h3 {
  margin: 5px;
}

h4 {
  margin: 10px;
  height: 200px;
}

.buttons {
  display: block;
  border: 0;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

#prox {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;

  color: rgba(0, 110, 255, 0.829);
  font-size: 50px;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

#prev {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;

  color: rgba(0, 153, 255, 0.685);
  font-size: 50px;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

/* #prox:hover,
#prev:hover {
  color: rgba(0, 38, 255, 0.685);
} */
